@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  height: 100vh;
  color: #333;
  /* background-image:url('bg1.jpg'); */
  display: flex;
  align-items: center;
  justify-content: center;
  background-size:cover ;
  background-position: center;
  background-image: linear-gradient(145deg, #581e64a0 0%, rgba(64, 21, 23, 0.853) 100% ),url('bg1.jpg');
}

/* LAYOUT */
main {
  position: relative;
  width: 100rem;
  height: 60rem;
  background-color: rgba(255, 255, 255, 0.35);
  backdrop-filter: blur(200px);
  filter: blur();
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.25);
  border-radius: 9px;
  overflow: hidden;
  display: flex;
  background: rgba(236, 144, 162, 0.5);
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 0.0px );
-webkit-backdrop-filter: blur( 0.0px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.player {
  flex: 50%;
  padding: 9rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.75s;
}

/* ELEMENTS */
.name {
  padding: 1rem 3rem;
  font-size: 4rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  word-spacing: 2px;
  font-weight: 300;
  margin-bottom: 2rem;
  margin-top: 2rem;
  background: rgba( 199, 54, 95, 0.00 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 0.0px );
-webkit-backdrop-filter: blur( 0.0px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.score {
  width:100px;
  height:100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 8rem;
  font-weight: 300;
  color: #c7365f;
  margin-bottom: auto;
  background: rgba( 255, 255, 255, 0.30 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 0.0px );
-webkit-backdrop-filter: blur( 0.0px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.player--active {
  background-color: rgba(255, 255, 255, 0.4);
}
.player--active .name {
  font-weight: 700;
}
.player--active .score {
  font-weight: 400;
}

.player--active .current {
  opacity: 1;
}

.current {
  background-color: #c7365f;
  opacity: 0.8;
  border-radius: 9px;
  color: #fff;
  width: 65%;
  padding: 2rem;
  text-align: center;
  transition: all 0.75s;
  border-radius:10px;
  background: #c7365f;
  box-shadow: inset 6px 6px 12px #85244042,
              inset -6px -6px 12px #5a2d3b97;
}

.current-label {
  text-transform: uppercase;
  margin-bottom: 1rem;
  font-size: 1.7rem;
  color: #ddd;
  background: rgba( 199, 54, 95, 0.75 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 0.0px );
-webkit-backdrop-filter: blur( 0.0px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.current-score {
  font-size: 3.5rem;
}

/* ABSOLUTE POSITIONED ELEMENTS */
.btn {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: #444;
  background: none;
  border: none;
  font-family: inherit;
  font-size: 1.8rem;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 400;
  transition: all 0.2s;

  background-color: white;
  background-color: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(10px);

  padding: 0.7rem 2.5rem;
  border-radius: 50rem;
  box-shadow: 0 1.75rem 3.5rem rgba(0, 0, 0, 0.1);
  background: rgba( 199, 54, 95, 0.05 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 13.0px );
-webkit-backdrop-filter: blur( 13.0px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
border-radius: 50px;
background: linear-gradient(145deg, #d53a66, #b33156);
box-shadow:  3px 3px 2px #852440,
             -3px -3px 2px #ff487e;
}

.btn::first-letter {
  font-size: 2.4rem;
  display: inline-block;
  margin-right: 0.7rem;
}

.btn--new {
  top: 4rem;
}
.btn--roll {
  top: 39.3rem;
}
.btn--hold {
  top: 46.1rem;
}

.btn:active {
  transform: translate(-50%, 3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
}

.btn:focus {
  outline: none;
}

.dice {
  position: absolute;
  left: 50%;
  top: 16.5rem;
  transform: translateX(-50%);
  height: 10rem;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.2);
  background: rgba( 199, 54, 95, 0.00 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 10.0px );
  -webkit-backdrop-filter: blur( 0.0px );
  border: 1px solid rgba( 0, 0,0, 0.18 );
  border-radius: 10px;
background: #c7365f;
box-shadow: inset 6px 6px 12px #161515,
            inset -6px -6px 12px #0c0809;
}

.player--winner {
  background-color: #043e0d;
}

.player--winner .name {
  font-weight: 700;
  color: #4dfd4a;
}
.player--winner .score{
  color: #4dfd4a;
}
.player--winner .current{
  color: #4dfd4a;
  background-color:#022007ec;
}
.player--winner .current-label{
  background-color:#4dfd4a;
  color:#043e0d;
}
.hidden{
  display: none;
}

@media(max-width:760px){
  body{
    width:100%;
    height:629px;
    background-size: contain;
  }
  main{
    width:90%;
    display:flex;
    flex-direction:column;
    align-items: center;
    position: relative;
  }
  .btn{
    font-size: 1rem;
    padding: 0.5rem .5rem;
  }
  .player{
    width:100% ;
    height:314.5px;
    position: relative;
  
  }
  .name{
    font-size: 2rem;
    position: absolute;
    top:0;
    margin-top: 4rem;
    margin-bottom: 2rem;
  }
  .score{
    font-size: 3rem;
    margin-bottom: 0;
    height:60px;
    margin-top: 1rem;
  }
  .current{
    position: absolute;
    top:175px;
    left:50%;
    transform: translateX(-50%);
    width:40%;
    padding:0;
    height:initial;
  }
  .btn--new{
    position: absolute;
    top:50%;
    transform:translate(-40% ,-50%);

  }
  .btn--roll{
    position: absolute;
    top:50%;
    left:0;
    transform:translate(5% ,-50%)
  }
  .btn--hold{
    position: absolute;
    top:50%;
    left:100%;
    transform:translate(-100% ,-50%)
  }
  .dice{
    position: absolute;
    left: 50%; 
    top: 0; 
    transform: translateX(-50%);
    height: 4rem;
  }
}
